<!-- logo & nav -->
<div class="ua-masthead clearfix animated fadeInUp">
	<div class="col-sm-12 masthead-wrapper">
		<a class="nav-item" href="#home">
			<h1 class="ua-logo text-hide pull-left">{{ site.name }}</h1>
		</a>
		<div class="pull-right list-mobile-nav" role="nav">
			<a href="#" class="inactive-nav">
				<i class="glyphicon glyphicon-align-justify"></i>
			</a>
			<a href="#" class="active-nav">
				<i class="glyphicon glyphicon-remove"></i>
			</a>
		</div>
		<div class="nav-mobile-items clearfix pull-left">
			<ul class="list-unstyled">
				<li class="nav-clients">
					<a class="nav-item nav-mobile" href="#clients">CLIENTS</a>
				</li>
				<li class="nav-work">
					<a class="nav-item nav-mobile" href="#work">WORK</a>
				</li>
				<li class="nav-services">
					<a class="nav-item nav-mobile" href="#services">SERVICES</a>
				</li>
				<li class="nav-contact">
					<a class="nav-item nav-mobile" href="#contact">CONTACT</a>
				</li>
			</ul>
		</div>

		<ul class="list-inline pull-right list-nav" role="nav">
			<li>
				<a class="nav-item" href="#clients">CLIENTS</a>
			</li>
			<li>
				<a class="nav-item" href="#work">WORK</a>
			</li>
			<li>
				<a class="nav-item" href="#services">SERVICES</a>
			</li>
			<li>
				<a class="nav-item" href="#contact">CONTACT</a>
			</li>
		</ul>
	</div>			
</div>