<!-- logo & nav -->
<div class="container ua-masthead clearfix">
	<h1 class="ua-logo text-hide pull-left">{{ site.name }}</h1>
	<div class="pull-right list-mobile-nav" role="nav">
		<a href="#" class="inactive-nav">
			<i class="glyphicon glyphicon-align-justify"></i>
		</a>
		<a href="#" class="active-nav">
			<i class="glyphicon glyphicon-remove"></i>
		</a>
	</div>
	<div class="nav-mobile-items clearfix pull-left">
		<ul class="list-unstyled">
			<li class="nav-clients">
				<a href="#clients">CLIENTS</a>
			</li>
			<li class="nav-services">
				<a href="#services">SERVICES</a>
			</li>
			<li class="nav-work">
				<a href="#work">WORK</a>
			</li>
			<li class="nav-contact">
				<a href="#contact">CONTACT</a>
			</li>
		</ul>
	</div>

	<ul class="list-inline pull-right list-nav" role="nav">
		<li>
			<a href="#clients">CLIENTS</a>
		</li>
		<li>
			<a href="#services">SERVICES</a>
		</li>
		<li>
			<a href="#work">WORK</a>
		</li>
		<li>
			<a href="#contact">CONTACT</a>
		</li>
	</ul>
</div>			
