<!-- Clients -->
<div class="ua-client ua-section ua-section-invert row clearfix">
	<div class="container">
		<div class="ua-section-heading text-center clearfix">
			<div class="h1 ua-headline">CUTTING EDGE CREATIVITY</div>
			<hr>
			<p class="col-sm-10 col-sm-offset-1 ua-section-tagline">
				We believe that in today’s hyper-connected world, the power of the group is far greater than the power of the individual. Word of mouth is the most powerful form of marketing.
			</p>
			<p class="col-sm-10 col-sm-offset-1 ua-section-tagline">
				We work collaboratively with our clients to deliver creative, impactful and engaging marketing strategies, combining both the physical and the digital world to harness the power of community.
			</p>
		</div>

		<div class="ua-section-body text-center">
			<div class="ua-client-list clearfix">
				<div class="row">
					<div class="col-md-3 clients text-hide client-thomas-cook">Thomas Cook</div>
					<div class="col-md-3 clients text-hide client-we-are-fstvl">WeAreFSTVL</div>
					<div class="col-md-3 clients text-hide client-above-beyond">Above &amp; Beyond</div>
					<div class="col-md-3 clients text-hide client-dorothy-perkins">Dorothy Perkins</div>
				</div>
				<div class="row">
					<div class="col-md-3 clients text-hide client-lord-of-dance">Lord of the Dance</div>
					<div class="col-md-3 clients text-hide client-elite-model-look">Elite Model Look</div>
					<div class="col-md-3 clients text-hide client-hobbs">Hobbs</div>
					<div class="col-md-3 clients text-hide client-dennis">Dennis</div>
				</div>
			</div>
		</div>

	</div>
</div>
