<!-- Clients -->
<div id="clients" class="ua-client ua-section ua-section-invert row clearfix">
	<div class="container">
		<div class="ua-section-heading text-center clearfix">
			<div class="h1 ua-headline">CUTTING EDGE CREATIVITY</div>
			<hr>
			<p class="col-sm-10 col-sm-offset-1 ua-section-tagline">
				Word of mouth is the most effective form of marketing. We believe that in today’s socially-connected world, the power of the group is far greater than that of the individual.
			</p>
			<p class="col-sm-10 col-sm-offset-1 ua-section-tagline">
				We work collaboratively with our clients to deliver engaging, impactful and award-winning creative marketing strategies to harness the power of community, brands and talent.
			</p>
		</div>

		<div class="ua-section-body text-center">
			<div class="ua-client-list clearfix">
				<div class="row">
					<div data-target="#work" data-slide-to="0" class="col-md-3 clients text-hide client-thomas-cook">Thomas Cook</div>
					<div data-target="#work" data-slide-to="1" class="col-md-3 clients text-hide client-we-are-fstvl">WeAreFSTVL</div>
					<div class="col-md-3 clients text-hide client-above-beyond">Above &amp; Beyond</div>
					<div class="col-md-3 clients text-hide client-dorothy-perkins">Dorothy Perkins</div>
				</div>
				<div class="row">
					<div class="col-md-3 clients text-hide client-lord-of-dance">Lord of the Dance</div>
					<div data-target="#work" data-slide-to="2" class="col-md-3 clients text-hide client-elite-model-look">Elite Model Look</div>
					<div class="col-md-3 clients text-hide client-hobbs">Hobbs</div>
					<div class="col-md-3 clients text-hide client-dennis">Dennis</div>
				</div>
			</div>
		</div>

	</div>
</div>
