<!-- Contact -->
<div id="contact" class="ua-contact ua-section row clearfix">
	
	<div class="container">
		<div class="ua-section-heading text-center">
			<div class="h1 ua-headline">COME SAY HI...</div>
			<hr>
			<p class="ua-section-tagline">Follow us on our social media channels to see what we’re up to.</p>
			<ul class="list-inline ua-social-channels">
				<li>
					<a target="_blank" href="https://twitter.com/intent/follow?screen_name=theunitedagency" class="twitter">
						<i class="icon-twitter"></i>
					</a>
				</li>
				<li>
					<a target="_blank" href="https://facebook.com/unitedagency?ref=uawebsite-f" class="facebook">
						<i class="icon-facebook"></i>
					</a>
				</li>
				<li>
					<a target="_blank" href="https://instagram.com/unitedagency" class="instagram">
						<i class="icon-instagram"></i>
					</a>
				</li>
				<li>
					<a target="_blank" href="https://www.linkedin.com/company/the-united-agency" class="linkedin">
						<i class="icon-linkedin"></i>
					</a>
				</li>
			</ul>
		</div>

		<div class="col-sm-4 ua-twitter-feed">
			Instagram feed goes here...
		</div>

		<div class="col-sm-4 ua-twitter-feed">
			Twitter feed goes here...
		</div>

		<div class="col-sm-4 ua-address clearfix">
			<div class="ua-logo clearfix text-hide">{{ site.name }}</div>
			<div class="clearfix">
				United Agency <br>
				5th Floor, Butler House <br>
				177 - 178 Tottenham Court Road <br>
				London W1T 7NY <br>
				Tel: + 44 (0)20 7462 2923 <br>
				info@united-agency.co.uk
			</div>

			<div class="ua-copyright">&copy; 2014 {{ site.name }}</div>
		</div>
	</div>
</div>