<!-- Home -->
<div id="home" class="ua-home ua-section row clearfix">
	<div class="container">
		<div class="ua-section-heading text-center">
			<div class="h1 ua-milestone text-center">
				WE ARE UNITED
			</div>
			<hr>
			<p class="ua-section-tagline">
				We are a full service social media and digital marketing agency in the heart of London.
			</p>
			<ul class="list-inline ua-social-channels">
				<li>
					<a target="_blank" href="https://twitter.com/intent/follow?screen_name=theunitedagency" class="twitter">
						<i class="icon-twitter"></i>
					</a>
				</li>
				<li>
					<a target="_blank" href="https://facebook.com/unitedagency?ref=uawebsite-h" class="facebook">
						<i class="icon-facebook"></i>
					</a>
				</li>
				<li>
					<a target="_blank" href="https://instagram.com/unitedagency" class="instagram">
						<i class="icon-instagram"></i>
					</a>
				</li>
				<li>
					<a target="_blank" href="https://www.linkedin.com/company/the-united-agency" class="linkedin">
						<i class="icon-linkedin"></i>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>