<!-- Case Studies -->
<div class="ua-case ua-section row clearfix">
	{% for post in site.categories.work %}
		<div class="ua-work-background {{ post.css }}">
			<div class="col-sm-6 ua-work-thumb">
				<img src="{{ site.url }}/img/{{ post.image }}" alt="" class="img-responsive">
			</div>
			<div class="col-sm-6 ua-work-summary">
				<div class="ua-work-logo">
					<img src="{{ site.url }}/img/{{ post.logo }}" alt="">
				</div>
				<div class="h1 ua-work-headline">{{ post.title }}</div>
				<p class="ua-section-tagline">{{ post.excerpt }}</p>
				<p class="ua-view-project">
					<a href="{{ post.url }}">VIEW PROJECT</a>
				</p>				
			</div>
		</div>
	{% endfor %}
</div>