<!-- Contact -->
<div id="contact" class="ua-contact ua-section row clearfix">
	
	<div class="col-sm-3">
		<div class="ua-section-heading">
			<div class="h1 ua-headline">COME SAY HI...</div>
			<p class="ua-section-tagline">Follow us on Facebook, Twitter, and Instagram to see what we’re up to.</p>
		</div>
	</div>

	<div class="col-sm-6 ua-twitter-feed">
		Twitter feed goes here...
	</div>

	<div class="col-sm-3">
		<div class="clearfix ua-address">
			<div class="ua-logo clearfix text-hide">{{ site.name }}</div>
			<div class="clearfix">
				United Agency <br>
				5th Floor, Butler House <br>
				177 - 178 Tottenham Court Road <br>
				London W1T 7NY <br>
				Tel: + 44 (0)20 7462 2923 <br>
				info@united-agency.co.uk
			</div>
		</div>

		<div class="ua-copyright">&copy; 2014 {{ site.name }}</div>

	</div>

</div>